

/* Open Sans Fonts */


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Noto Serif Fonts */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Inter Fonts */


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* body styles */
body{
    margin: 0 auto;
    max-width: 1280px;
}

/* navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo{
    max-width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  float: left;
}

nav a {
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.shop, .about{
    color: #8987A1;
}

/* Banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.banner-image{
    width: 100%;
}

.banner-content{
    margin: 50px 0 0;
}

.fresh-flowers, .our{
    color: #E95A08;
}

.banner-content-h1{
    font-size: 50px;
}

.banner-content-p{
    font-size: 24px;
    color: #000000;
    opacity: 50%;
}




/* Products Card Styles */

.cart-button{
    background-color: #E95A08;
    border: none;
    padding: 10px 20px;
    width: calc(100% - 35px);
    text-align: center;
    justify-content: center;
}

.products-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px auto;
    max-width: 1280px;
    justify-content: center;
    gap: 30px 20px;
}

.image-container{
    text-align: center;
    justify-content: center;
}

.products-card{
    margin: 100px 0;
}

.products-card-h2{
    font-size: 36px;
}

.products-card-p{
    font-size: 20px;
    margin-bottom: 50px;
}

.products-card-content{
    text-align: center;
}




/* Mobile Responsive */

/* Smaller Devices */

@media screen and (max-width:576px) {
    .home, .shop, .about{
        display: none;
    }

    .navbar {
        display: flex;
        justify-items: center;
    }

    .banner{
        flex-direction: column;
        justify-items: center;
        gap: 0;

    }

    .banner-content{
        justify-items: center;
    }

    .banner-image{
        justify-items: center;
    }

    .products-card-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }


}